/* Mobile view: 500px and down*/
/* Tablet view: 1024px down to 800px */
/* Large view: 1024px and up */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  background-image: url("./images/background-image-repeat.jpg");
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Color Theme */
:root {
  --Gunmetal: rgb(10, 46, 54);
  --Caribbean-Current: rgb(0, 96, 96);
  --Dark-Cyan: rgb(0, 143, 143);
  --Light-Blue: rgb(174, 213, 208);
  --Shamrock-Green: rgb(21, 149, 92);
  --Office-Green: rgb(3, 109, 25);
  --Cat-Poly-Green: rgb(38, 76, 48);
  --Vanilla: rgb(215, 212, 153);
}

.box-container-transparent-round {
  background-color: rgba(0, 143, 143, 0.85);
  padding: 30px;
  margin: 20px;
  border: 1px solid var(--Caribbean-Current);
  border-radius: 1cm;
}

.box-container-transparent-normal {
  background-color: rgba(0, 143, 143, 0.85);
  padding: 30px;
  margin: 20px;
  border: 1px solid var(--Caribbean-Current);
  border-radius: 0.5cm;
}

.box-container-transparent-sharp {
  background-color: rgba(0, 143, 143, 0.9);
  padding: 30px;
  margin: 20px;
  border: 1px solid var(--Caribbean-Current);
  border-radius: 0.25cm;
}

.mobile-spacing {
  margin: 0 15px;
}

/* For navigation */

.divider-to-nav {
  height: 130px;
}

.nav-container {
  background-color: var(--Caribbean-Current);
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  padding: 20px 30px;
  margin: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
  border-radius: 1cm;
  transition: 0.5s;
}

.nav-link:hover {
  background-color: var(--Gunmetal);
  transition: 0.5s;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 96, 96, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
  padding-left: 10px;
}
.sidebar a {
  width: 100%;
}

/* ------------------------ */

/* For footer */

.main-container {
  min-height: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: -100px;
  padding: 0 10px;
  position: relative;
  clear: both;
  text-align: center;
  background-color: var(--Gunmetal);
  color: white;
}

.divider-to-footer {
  height: 120px;
}

.burger-button {
  display: none;
}

/* ------------------------ */

/* for About Me page */

.section-about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  border: 10px dotted var(--Cat-Poly-Green);
  border-radius: 100%;
  padding: 10px;
  margin-left: 20px;
}

.autobiography-container {
  display: flex;
  padding: 0 20px;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.header1-about-me {
  margin: 0 20px 20px 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  font-size: 45px;
  color: var(--Vanilla);
}

.about-me {
  font-size: 22px;
}

/* For Previous Work */

.previous-work-header1-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous-work-header1 {
  font-size: 45px;
  color: var(--Vanilla);
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.light-text {
  color: var(--Light-Blue);
  padding-bottom: 10px;
}

.resume-info-container {
  margin: 0 auto;
  max-width: 600px;
  min-width: 300px;
}

.ordered-list-modified {
  list-style-position: inside;

  margin: 0 0 20px 35px;
}

/* For Projects page */

.game-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  margin: 0 auto 20px;
  padding: 20px;
  border: 2px solid var(--Caribbean-Current);
  background-color: rgba(0, 143, 143, 0.85);
  max-width: 800px;
  min-width: 800px;
}

.project-header {
  margin-left: 15px;
  grid-column: span 2;
  align-content: center;
  font-size: 45px;
  color: var(--Vanilla);
}

.article-spacing {
  margin: 15px 7px 7px 30px;
}

.game-container {
  border-bottom: 5px solid rgb(0, 96, 96);
  background-color: var(--Light-Blue);
  border-radius: 1cm;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 2fr;
  align-items: center;
  justify-items: center;
}

.project-image {
  padding: 10px;
}

.game-button-link {
  border: 1px solid rgb(0, 96, 96);
  border-radius: 0.35cm;
  background-color: var(--Shamrock-Green);
  padding: 15px 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.game-button-link:hover {
  background-color: var(--Office-Green);
  transition: 0.3s;
}

.pixelated-cover-art {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* For the Contact Me Form */

.form {
  min-width: 700px;
  max-width: 700px;
  margin: 0 auto;
}

.header1-contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  font-size: 45px;
  color: var(--Vanilla);
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  font-size: 15px;
  color: white;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-spacing {
  margin-top: 5px;
}

.input-spacing {
  padding: 3px;
  width: 250px;
}

.input-style {
  border: 1px solid var(--Office-Green);
  border-radius: 0.15cm;
  background-color: var(--Light-Blue);
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.textarea-label {
  font-size: 15px;
  color: white;
}

.textarea-container {
  font-size: 15px;
  width: 100%;
  margin-top: 5px;
}

.textarea {
  width: 100%;
  padding: 10px;
  resize: vertical;
  border: 1px solid var(--Office-Green);
  background-color: var(--Light-Blue);
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form-button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}

.form-button {
  border: 5px solid var(--Caribbean-Current);
  border-radius: 0.25cm;
  background-color: var(--Caribbean-Current);
  width: 125px;
  height: 40px;
  color: white;
  transition: 0.25s;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form-button:hover {
  border: 7px solid var(--Gunmetal);
  color: var(--Vanilla);
  transition: 0.25s;
}

/* Table view */
@media (max-width: 1024px) and (min-width: 500px) {
  /* For navigation */
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    font-size: 20px;
    transition: none;
  }

  .nav-link:hover {
    transition: none;
  }

  /* For footer */

  .footer {
    height: 80px;
    margin-top: -80px;
  }

  .divider-to-footer {
    height: 100px;
  }

  /* For About Me */

  .profile-picture {
    border: 8px dotted var(--Cat-Poly-Green);
    padding: 8px;
    margin-left: 16px;
    width: 250px;
    height: 250px;
  }

  .autobiography-container {
    padding: 0 10px;
    max-width: 400px;
  }

  .header1-about-me {
    margin: 0 18px 18px 18px;
    padding-bottom: 18px;
    font-size: 40px;
  }

  .about-me {
    font-size: 19px;
  }

  /* For Previous Work */

  .previous-work-header1 {
    font-size: 40px;
    padding-bottom: 18px;
    margin-bottom: 18px;
  }

  /* For Projects */

  .game-card {
    grid-template-rows: 0.85fr 4fr;
    min-width: 300px;
  }

  .project-header {
    font-size: 40px;
  }

  .article-spacing {
    margin: 15px 7px 7px 30px;
  }

  .game-container {
    grid-template-rows: 3fr 2fr;
  }

  .project-image {
    width: 120px;
    height: 120px;
  }

  .game-button-link {
    padding: 13px 24px;
    transition: none;
  }

  .game-button-link:hover {
    transition: none;
  }

  /* For Contact Me */

  .form {
    min-width: 300px;
    max-width: 500px;
  }

  .header1-contact-me {
    padding-bottom: 25px;
    font-size: 40px;
  }

  .input-container {
    padding-bottom: 25px;
  }

  .input-spacing {
    padding: 3px;
    width: 200px;
  }

  .form-button {
    transition: none;
  }

  .form-button:hover {
    transition: none;
  }
}

@media (max-width: 800px) {
  .burger-button {
    display: flex;
    margin: 0 auto;
  }

  .hide-on-mobile {
    display: none;
  }
  .divider-to-nav {
    height: 80px;
  }
}

/* Mobile view */
@media (max-width: 500px) {
  /* For navigation */

  .nav-link {
    font-size: 20px;
    transition: none;
  }

  .nav-link:hover {
    transition: none;
  }

  .nav-list-item {
    width: 100px;
  }

  /* For About Me */
  .section-about-container {
    display: flex;
    flex-direction: column;
  }

  .profile-picture {
    border: 6px dotted var(--Cat-Poly-Green);
    padding: 6px;
    margin: 0;
    width: 200px;
    height: 200px;
  }

  .autobiography-container {
    min-width: 100px;
  }

  .header1-about-me {
    margin: 0 15px 15px 15px;
    padding-bottom: 15px;
    font-size: 35px;
  }

  .about-me {
    font-size: 16px;
  }

  /* For Previous Work */

  .previous-work-header1 {
    font-size: 35px;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }

  /* For Previous Work */

  .resume-info-container {
    min-width: 300px;
  }

  .resume-info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* For Projects */

  .game-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 4fr;
    min-width: 300px;
  }

  .project-header {
    margin: 0px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 1;
  }

  .article-spacing {
    margin: 15px 7px 7px 30px;
  }

  .project-image {
    width: 200px;
    height: 200px;
  }

  .game-button-link {
    padding: 20px 60px;
    margin: 0 10px;
    transition: none;
  }

  .game-button-link:hover {
    transition: none;
  }

  /* For Contact Me  */

  .form {
    min-width: 300px;
    max-width: 300px;
  }

  .header1-contact-me {
    padding-bottom: 20px;
    font-size: 35px;
  }

  .input-container {
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
  }

  .form-button {
    margin: 3px;
    transition: none;
  }

  .form-button:hover {
    transition: none;
  }
}
